<section class="py-20 bg-gray-900 text-white relative">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-500 to-purple-500">
      Sobre Mi
    </h2>
    <p class="mt-4 text-lg text-gray-300 max-w-3xl mx-auto">
      Transformo ideas en experiencias digitales únicas. Mi enfoque está en la creación de soluciones innovadoras y de alta calidad.
    </p>

    <div class="mt-16 relative bg-opacity-50 bg-gradient-to-r from-blue-800 via-purple-900 to-gray-900 rounded-3xl p-12 shadow-2xl glass-card overflow-hidden max-w-5xl mx-auto">
      <div class="absolute inset-0 bg-gradient-to-br from-blue-600 via-purple-600 to-blue-900 opacity-50 rounded-3xl blur-2xl"></div>
      <div class="absolute inset-0 bg-white opacity-5 rounded-3xl backdrop-blur-lg"></div>

      <div class="relative z-10 flex flex-col md:flex-row items-center">
        <img src="perfil.png" alt="Tu Foto" class="rounded-full h-48 w-48 md:h-56 md:w-56 mb-8 md:mb-0 md:mr-12 shadow-xl transition-transform transform hover:scale-110">

        <div class="text-left">
          <h3 class="text-4xl font-bold text-white mb-4">Elvis D. Quinteros Siles</h3>
          <p class="text-gray-300 leading-relaxed text-lg">
            Soy un desarrollador full-stack con una pasión por la innovación y la excelencia en el desarrollo de software. Con [X] años de experiencia, he trabajado en una variedad de proyectos que abarcan desde aplicaciones web dinámicas hasta soluciones móviles nativas.
          </p>
          <p class="mt-6 text-gray-300 leading-relaxed text-lg">
            Mi especialidad radica en crear interfaces intuitivas y backends robustos, utilizando tecnologías modernas como Angular, React, Node.js y Laravel. Estoy comprometido con el aprendizaje continuo y la adopción de las mejores prácticas en cada proyecto.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Elementos decorativos -->
  <div class="absolute top-0 left-0 w-40 h-40 bg-purple-600 rounded-full mix-blend-multiply filter blur-3xl opacity-70 animate-pulse"></div>
  <div class="absolute bottom-10 right-10 w-64 h-64 bg-blue-500 rounded-full mix-blend-multiply filter blur-3xl opacity-70 animate-pulse"></div>
  <div class="absolute top-20 right-20 w-20 h-20 bg-green-400 rounded-full mix-blend-multiply filter blur-3xl opacity-70 animate-pulse"></div>
  <!-- Fondo decorativo -->
  <div class="absolute inset-0 bg-gradient-to-r from-blue-700 via-gray-900 to-black opacity-20 pointer-events-none"></div>
</section>
